body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.main-link {
    text-decoration: none;
    font-weight: 550;
        border-radius: 15px;
        background-color: rgb(215, 228, 240);
        color: black;
        padding: 10px;
        width: 200px;
        text-align: center;  
        transition: transform 250ms;
}

.main-link:hover {
    transform: background-color;
    background-color:rgb(214, 238, 238);
}

.main-item {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1128px;
}

.gallery-image {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform 250ms;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    box-shadow: 0 10px 10px 0 #cccccc;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    padding: 24px;
    width: 360px;
    box-shadow: 0 10px 10px 0 #cccccc;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
textarea {
    stroke: #808080;
    outline: none;
    transition: stroke 250ms;
}

input {
    margin-bottom: 8px;
}

textarea {
    margin-bottom: 16px;
} 

input:hover,
textarea:hover {
    stroke: black;
}

button {
    border-radius: 8px;
    color: #ffffff;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    font-family: inherit;
    background-color: #4e75ff;
    border: none;
    transition: background-color 250ms;

}

button:hover {
    cursor: pointer;
    background-color: #6c8cff;
}